body
      {
        background-color: #1B1B1B;
        font-family: 'Ubuntu', sans-serif;
        color: white;
        padding: 5%;
      }
      img{
        border-radius: 10%;
        border: 5px solid black;
      }
      h3{
        color: #808088;
        font-weight: bold;
      }
      h2{
        border-bottom:3px solid #808088;
        display:inline-block;
        margin-bottom:15px;
      }
      .intro{

      }
      .main-div{
        margin-left: 25%;
        margin-right: 25%;
      }   
      ul.a{
        list-style-type: square;
      }
      li{
        font-size: 20px;
        margin-top: 5px;
      }
      a{
        color: #68369B;
        text-decoration: none;
        font-weight: bold;
      }
      p{
        font-size: 20px;
        margin-top: 5px;
        margin-left: 25%;
        margin-right: 25%;
      }
      @media screen and (max-width: 481px){
      .main-div{
        margin-left: 10%;
        margin-right: 10%;
        }
      p{
        margin-left: 10%;
        margin-right: 10%;